* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: radial-gradient(circle at top, #cbb7ff, #0b0b0f 65%);
  color: white;
}

.page {
  min-height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #14141a;
  padding: 40px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
}

.card.large {
  width: 420px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.title.small {
  font-size: 26px;
}

.title span {
  color: #b89cff;
}

.subtitle {
  color: #d0cfe5;
  margin: 15px 0 25px;
  font-size: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  background: #0b0b0f;
  color: white;
  outline: none;
}

.input::placeholder {
  color: #9a9aa3;
}

.btn-primary {
  background: #b89cff;
  color: black;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary.full {
  width: 100%;
}

.muted {
  margin-top: 18px;
  color: #9a9aa3;
  font-size: 14px;
}

.muted span {
  color: #b89cff;
  cursor: pointer;
}

.disclaimer {
  margin-top: 20px;
  font-size: 12px;
  color: #9a9aa3;
}
